include LICENSE
global-include *.LICENSE
include requirements/*.txt

recursive-include redbot locales/*.po
recursive-include redbot/**/data *
recursive-include redbot *.export
recursive-include redbot py.typed

recursive-include redbot/core/drivers/postgres *.sql
